apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: nodeapp-dev
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/sajilpb/Helm.git
    targetRevision: main
    path: charts/nodeapp
    helm:
      valueFiles:
        - values-dev.yaml
  destination:
    server: https://kubernetes.default.svc
    namespace: dev
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
    automated:
      prune: true
      selfHeal: true
